[Unit]
Description=Revactyl Laravel Queue Worker
After=network.target

[Service]
User=www-data
Group=www-data
Restart=always
ExecStart=/usr/bin/php {{APP_DIR}}/artisan queue:work --sleep=3 --tries=3 --timeout=120 --max-time=3600
WorkingDirectory={{APP_DIR}}
StandardOutput=append:/var/log/revactyl-queue.log
StandardError=append:/var/log/revactyl-queue-error.log

[Install]
WantedBy=multi-user.target
